.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.desc-en,
.title-en{
    display: none;
}

.flex-center {
    display: flex;
    align-items: center;
}

.flex-center-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pills {
    display: inline-block;
    background-color: var(--primary-200);
    padding: .25rem 1.25rem;
    border-radius: 12px;
    color: var(--primary-600);
    text-align: center;
}

@media ( min-width: 1280px) {
    .container {
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 1rem;
    }

}

@media ( min-width: 1440px) {
    .container {
        max-width: 1536px;
        margin: 0 auto;
        padding: 0 1rem;
    }

}