footer {
    padding: 1.5rem 0;
    background-color: var(--primary-100);
    width: 100%;
    align-items: start;
    text-align: start;
}
footer > p{
    display: flex;
    font-size: var(--text-sm);
    font-weight: 400;
    margin: 0;
    gap: .25rem;
    flex-wrap: nowrap;
    align-items: center;
}

footer > p > img{
    width: 16px;
}

.heart-btn {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-image: url('../../public/assets/like.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    cursor: pointer;
    margin: -23px -18px;
}

.heart-btn.like {
    background-position: -1680px 0;
    transition: background 1s steps(28);
}