
.hero-container {
    padding: 3rem 1rem;
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
    gap: 3rem;
    box-sizing: border-box;
}

.picture-hero {
    width: 100%;
    position: relative;    
}

.picture-hero > img {
    width: 240px;
    height: 280px;
    margin: 0 auto;
    border: 8px solid var(--primary-solid);
    object-fit: fill;
}

.border-pic {
    background-color: var(--primary-200);
    width: 280px;
    height: 280px;
    position: absolute;
    top: 30px;
    margin: 0 auto;
    z-index: -10;
}

.hero-content p{
    line-height: 1.65;
}

.info-hero {
    flex-direction: column;
    width: 100%;
    align-items: start;
    margin-top: 3rem;
    padding: 1rem 0;
}

.info-hero ul {
    margin-top: -1.75rem;
    font-size: var(--text-sm);
}

.info-hero ul li {
    display: inline-flex;
    align-items: center;
    gap: .25rem;
}

.status{
    padding: 0 .5rem;
}

.btn-contactme {
    margin-top: .5rem;
    padding: .5rem 1.25rem;
}

.animation-hand {
    display: inline-block;
    animation: waving 2s linear 3;
    cursor: default;
}

.btn-arrowUp {
    position: fixed;
    border-radius: 100%;
    bottom: 2rem;
    right: 0.5rem;
    padding: 0;
    z-index: -1;
    transition: all .2s ease-in-out;
    cursor: pointer;
    overflow: hidden;
    background-color: transparent;
    opacity: 0;
}

.btn-arrowUp > svg {
    transform: rotate(-90deg);
    width: 100%;
    height: 100%;
}

.btn-arrowUp circle {
    fill: none;
    stroke: var(--primary-400);
    stroke-linecap: round;
}

.btn-arrowUp circle.progress {
    stroke: var(--primary-800);
    stroke-dasharray: 283;
    stroke-dashoffset: 283;
    transition: stroke-dashoffset .1s linear;
}

.btn-arrowUp:active {
    background-color: transparent;
}

.btn-arrowUp:active.light {
    background-color: transparent;
}

.btn-arrowUp:hover {
    background-color: transparent;
}

.btn-arrowUp.light:hover {
    background-color: transparent;
}

.show-btn-up {
    opacity: 1;
    z-index: 10;
}

.show-btn-up .btn-arrowUp {
    animation: pop .3s ease-in-out;
    width: 2rem;
    height: 2rem;
    z-index: 11;
}

.show-btn-up .arrowUp {
    transform: scale(1);
}

.btn-arrowUp > .arrow-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: rotate(0) translate(-50%, -50%);
    width: 2.5rem;
    height: 2.5rem;
}

@media ( min-width: 1024px) {
    .hero-container {
        flex-direction: row;    
        padding-top: 4rem;
        justify-content: space-between;
        height: 80vh;
    }

    .picture-hero {
        order: 1;
        flex-wrap: nowrap;
        width: min-content;
        margin-right: 2rem;
    }

    .picture-hero > img {
        width: 280px;
        height: 320px;        
    }

    .border-pic {
        width: 280px;
        height: 320px;
        top: 40px;
        right: -25px;
    }

    .hero-content {
        width: 100%;
    }

    .hero-content h1{
        font-size: var(--text-6xl);
    }

    .hero-content p{
        font-size: var(--text-lg);
    }

    .info-hero {
        margin-top: 0;
    }

    .info-hero ul {
        margin-top: .5rem;
        margin-bottom: 1.75rem;
        display: inline-flex;
        align-items: center;
    }
    
    .info-hero ul li {
        display: inline-flex;
        margin: -1.5rem 0;
        padding-right: 2rem;
        gap: .25rem;
    }

    .gps-icon {
        width: 15px;
    }

    .info-hero ul li > p{
        font-size: var(--text-sm);
    }

    .btn-contactme {
        margin-top: 1rem;
        padding: .65rem 1.75rem;
    }

    
}

@media ( min-width: 1280px) {
    .hero-container {
        padding: 3rem;
    }
}

@keyframes waving {
    0% {
        transform: rotate(0deg);
    }
    10%{
        transform: rotate(14deg);
    }
    20% {
        transform: rotate(-8deg);
    }
    30% {
        transform: rotate(14deg);
    }
    40% {
        transform: rotate(-4deg);
    }
    50% {
        transform: rotate(10deg);
    }
    60% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes pop {
    0% {
        width: 0rem;
        height: 0rem;
    }
    50% {
        width: 4rem;
        height: 4rem;
    }
    100% {
        width: 2rem;
        height: 2rem;
    }
}